@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');
/* font-family: 'Red Hat Display', sans-serif; */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html,body {
      font-size: 15px;
      
  }


        body {
            background-image: url(./images/pattern-background-desktop.svg);
            background-color: hsl(225, 100%, 94%);
            background-repeat: no-repeat;
            background-position:top;
            overflow: hidden;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
        }
        section {
            overflow: hidden;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: white;
            width: 400px;
            border-radius: 10px;
            margin: 60px auto;
            text-align: center;
            font-family: 'Red Hat Display', sans-serif;
        }
        .main-img {
            width: inherit;
            overflow: hidden;
        }

        .attribution { 
            display:none;
            font-size: 11px; 
            text-align: center; 
        }
        .attribution a { 
            color: hsl(228, 45%, 44%); 
        }

        .main-container {
            padding: 30px;
        }

        .main-container .pstyle1 {
            padding: 30px 0;
            line-height: 25px;
            font-weight: 500;
            color: hsl(224, 23%, 55%);
        }

        .plan {
            border-radius: 10px;
            padding: 15px 10px;
            margin-bottom: 30px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: hsl(225, 100%, 98%);
            font-size: 15px;
        }
        .plan-img {
            /* padding-right: 20px; */
            width: 18%;
            height: 18%;
        }

        .plan div {
            margin-right: 70px;
            text-align: left;
            font-size: 12px;
            font-weight: 500;
        }.plan-main-text {
            font-size: 15px;
            font-weight: 800;
        }
        .plan-secondary-text {
            font-size: 15px;
            font-weight: 500;
            padding-top: 4px;
            color: hsl(224, 23%, 55%);
        }
        .pstyle2 {
            text-decoration: underline;
            font-weight: 700;
            color: hsl(245, 75%, 52%);
        }
        .pstyle2:hover {
            text-decoration: none;
            color: hsl(245, 75%, 65%)
        }

        button {
            padding: 15px;
            margin-bottom: 20px;
            width: 100%;
            border-radius: 10px;
            border: 0px;
            background-color: hsl(245, 75%, 52%);
            color: white;
            font-weight: 700;
            box-shadow: 5px 10px 5px hsl(245, 75%, 52%, 0.1);
        }
        button:hover {
            background-color: hsl(245, 75%, 65%);
        }

        .cancel a{
            color: hsl(224, 23%, 55%);
            text-decoration: none;
            font-weight: 700;
            margin-bottom: 0px;

        }
        .cancel a:hover {
            color: black;
        }
    
        @media (max-width:475px) {
            body {
                background-image: url(./images/pattern-background-mobile.svg);
                background-color: hsl(225, 100%, 94%);
                background-repeat: no-repeat;
                background-position:top;
                background-size: cover;
            }

            section {
                width: 350px;  
            }
        
        
        }
